<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_1555841310855">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>controller.TypeServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/servlet/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/servlet/TypeServlet</url-pattern>
  </servlet-mapping>
</web-app>
